footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 6rem;
    div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex: 0 1 30rem;
    }
}
