<footer>
    <a href="#"><img src="assets/img/saklogo.png" alt="saklogo" /></a>

    <div class="social_media" id="about">
        <a href="imprint"><h3>IMPRINT</h3></a>
        <div class="logo">
            <a href="https://www.facebook.com/" target="_blank"><img src="assets/img/fb.png" alt="fb" /></a>
        </div>

        <div class="logo">
            <a href="https://www.instagram.com/" target="_blank"><img src="assets/img/ins.png" alt="ins" /></a>
        </div>

        <div class="logo">
            <a href="https://www.tripadvisor.de/" target="_blank"><img src="assets/img/tripad.png" alt="tripad" /></a>
        </div>
    </div>
</footer>
