<div class="find-us-at-container">
    <section class="section-header">
        <h2 id="finde_us_at">FIND US AT</h2>
    </section>
    <div class="address">
        <img src="./../../../assets/img/LO.png" alt="location_logo" />
        <span>Kapuzinerstraße 31, München, BY 80337</span>
    </div>
</div>
<iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d51545.282713698296!2d11.598974541195558!3d48.139622488187044!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x479e75f36c05b20b%3A0x2996a217cddfb5ce!2sSakura%20Sushi%20Bar!5e0!3m2!1sde!2sde!4v1682018265675!5m2!1sde!2sde"
    style="border: 0"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"
>
</iframe>
