<div class="our-menu-container">
    <section class="section-header"><h2>OUR MENU</h2></section>

    <div class="menu mb-xxl">
        <img src="./../../../assets/img/r1.png" alt="tonkasu_ramen" />
        <div class="mb-left-10 ramen_margin_media">
            <h3 class="menu-head">Tonkasu Ramen</h3>
            <table>
                <tr>
                    <td id="chicken1">CHICKEN</td>
                    <td>11.95€</td>
                </tr>
                <tr>
                    <td id="beef1">BEEF</td>
                    <td>12.95€</td>
                </tr>
                <tr>
                    <td id="shrimp1">SHRIMP</td>
                    <td>13.95€</td>
                </tr>
            </table>
        </div>
    </div>

    <div class="menu mb-xxl">
        <img src="./../../../assets/img/r2.png" alt="spicy_miso_ramen" />
        <div class="mb-right-15 ramen_margin_media">
            <h3 class="menu-head">Spicy Miso Ramen</h3>
            <table>
                <tr>
                    <td id="chicken2">CHICKEN</td>
                    <td>11.95€</td>
                </tr>
                <tr>
                    <td id="beef2">BEEF</td>
                    <td>12.95€</td>
                </tr>
                <tr>
                    <td id="shrimp2">SHRIMP</td>
                    <td>13.95€</td>
                </tr>
            </table>
        </div>
    </div>

    <div class="menu">
        <img src="./../../../assets/img/r3.png" alt="shio_ramen" />
        <div class="mb-left-10 ramen_margin_media">
            <h3 class="menu-head">Shio Ramen</h3>
            <table>
                <tr>
                    <td id="chicken3">CHICKEN</td>
                    <td>11.95€</td>
                </tr>
                <tr>
                    <td id="beef3">BEEF</td>
                    <td>12.95€</td>
                </tr>
                <tr>
                    <td id="shrimp3">SHRIMP</td>
                    <td>13.95€</td>
                </tr>
            </table>
        </div>
    </div>
</div>
